# For the EXPO_PUBLIC_API_BASE_URL, replace the IP address with the machine's IPv4 address.
# This can be found by running 'ipconfig'
# Both devices must be sharing the same network for the app to work properly.

EXPO_PUBLIC_API_BASE_URL=http://192.168.x.x:3000
